<div class="container">
	<h2>Neuen Beitrag anlegen</h2>

	<% if @post.errors.any? %>
			<h2>Errors:</h2>
			<ul>
				<% @post.errors.full_messages.each do |message| %>
				<li><%= message %></li>	
				<% end %>
			</ul>
	<% end %>

	<%= tinymce %>

	<%= form_for @post do |f| %>
		<p>
			<%= f.label :title %></br>
			<%= f.text_field :title %>
		</p>
		<p>
			<%= f.label :content %></br>
			<%= f.text_area :content, :class => "tinymce" %>
		</p>
		<p>
			<%= f.submit "Speichern" %>
		</p>
	<% end %>
</div>
