<!-- Page Header -->
<header class="masthead" style="background-image: url('../assets/post-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1><%= @post.title %></h1>
          <h2 class="subheading"><%= @post.content %></h2>
          <span class="meta">Posted on <%= @post.created_at %></span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
			<h2><%= @post.title %></h2>
			<p><%= @post.content.html_safe %></p>
			<small><%= @post.created_at %></small>
      <% if user_signed_in? %>
			  <p><%= link_to "edit", edit_post_path(@post) %> | <%= link_to "delete", @post, :data => {:confirm => "Bist du sicher?"}, :method => :delete %></p>
      <% end %>

			<%= render 'disqus' %>
		</div>
	</div>
</div>